<h1>Lista das Coroas</h1>

<% @coroas.each do |coroa| %>

  <% valor = coroa.preco_em_centavos / 100 %>
  <% centavos = coroa.preco_em_centavos % 100 %>
  <% centavos_formatados = centavos < 10 ? "0#{centavos}" : centavos %>

  <p>
    <strong>Código:</strong> <%= coroa.codigo %><br>
    <strong>Descrição:</strong> <%= coroa.descricao %><br>
    <strong>Valor:</strong> R$<%= "#{valor},#{centavos_formatados}" %><br>
    <strong><%= link_to 'Comprar', new_pedido_path(coroa_id: coroa.id), class: 'btn btn-primary' %></strong>
  </p>

<% end %>

    <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete} %>
