<h1>Lista das Pedidos</h1>

<% @pedidos.each do |pedido| %>

  <% valor = pedido.coroa.preco_em_centavos / 100 %>
  <% centavos = pedido.coroa.preco_em_centavos % 100 %>
  <% centavos_formatados = centavos < 10 ? "0#{centavos}" : centavos %>

  <p>
    <strong>Nome do Falecido:</strong> <%= pedido.nome_falecido %><br>
    <strong>Faixa:</strong> <%= pedido.faixa %><br>
    <strong>Endereço:</strong> <%= pedido.velorio.nome %><br>

    <strong>Código:</strong> <%= pedido.coroa.codigo %><br>
    <strong>Descrição:</strong> <%= pedido.coroa.descricao %><br>
    <strong>Valor:</strong> R$<%= "#{valor},#{centavos_formatados}" %><br>

  </p>

<% end %>
